<mapper namespace="com.lagou.mapper.IUserDao">
    <select id="findByCondition" parameterType="com.lagou.pojo.User" resultType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>
    <select id="findAll" resultType="com.lagou.pojo.User">
        select * from user
    </select>
    <insert id="insertUser" parameterType="com.lagou.pojo.User">
        insert into user (id, username, password, birthday) values (#{id}, #{username}, #{password}, #{birthday})
    </insert>
    <update id="updateUser" parameterType="com.lagou.pojo.User">
        update user set username = #{username}, password = #{password}, birthday = #{birthday}) where id = #{id}
    </update>
    <delete id="deleteUser" parameterType="com.lagou.pojo.User">
        delete from user where id = #{id}
    </delete>
</mapper>